name: ${PROJECT_NAME}
channels:
  - file:///${HOME}/Development/vfx/channel
  - conda-forge
  - defaults
dependencies:
  - python=${PYTHON_VERSION}
  - imath=${IMATH_VERSION}
  - openexr=${OPENEXR_VERSION}
  - boost=${BOOST_VERSION}
  - tbb=${TBB_VERSION}
  - usd=${USD_VERSION}
  - pyside6=${PYSIDE_VERSION}
  - qt-main=${QT_VERSION}
  - cmake
  - ninja
