{
    "cmake.configureArgs": [
        "-DCMAKE_PREFIX_PATH=${CONDA_PREFIX}"
    ],
    "cmake.generator": "Ninja",
    "C_Cpp.default.cppStandard": "c++${CXX_STANDARD}",
    "files.associations": {
        "*.h": "cpp",
        "*.hpp": "cpp"
    }
}
